<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">APL Indoor Tournament</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="live-match" class="nav-link">Live-Match</a>
      </li>
      <li class="nav-item">
        <a  routerLink="players" class="nav-link">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Best-Batsman</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Best-Bowler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Man-Of-The-Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Points-Table</a>
      </li>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
